<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.anttonen.villematti.apps.gymbuddy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/WhiteTheme">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/WhiteTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WeightEntryDetail"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.AddWeightEntry"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.CardioEntryDetail"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.AddCardioEntry"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.AddStrengthWorkoutEntry"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ExerciseChooserDialog"
            android:parentActivityName=".activity.AddStrengthWorkoutEntry">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AddStrengthWorkoutEntry" />
        </activity>
        <activity
            android:name=".activity.StrengthWorkoutEntryDetail"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.StrengthExerciseEditor"
            android:parentActivityName=".activity.ExerciseEditorList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ExerciseEditorList" />
        </activity>
        <activity
            android:name=".activity.ExerciseEditorList"
            android:parentActivityName=".activity.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity" />
        </activity>
        <activity android:name=".activity.CardioExerciseEditor"
            android:parentActivityName=".activity.ExerciseEditorList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ExerciseEditorList" />
        </activity>
    </application>

</manifest>